* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.background_layer {
    height: 100vh;
    width: 99vw;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.background_layer>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.layerone {
    height: 100vh;
    width: 99vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logincard {
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.781);
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 180px;
    width: 180px;

}

.logo>img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.inputbox {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 30%;
}

.txt {
    width: 60%;
    height: 25%;
}

.btn_set {
    text-transform: uppercase;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    border-radius: 20px;
    height: 60px;
    width: 100px;
}

.btn_set:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px 6px rgba(203, 125, 125, 0.589);
    transition: 100ms;
}

.btn_set:active {
    box-shadow: inset 3px 3px 10px 6px rgba(203, 125, 125, 0.589);
    transform: scale(1);
}

.txt {
    outline: none;
    border: 0px;
    border-bottom: black solid 4px;
    background-color: hsla(0, 0%, 100%, 0);
    font-size: medium;
}